binary/

bootstrap/targets/linux/tether/
imageC/imageC

apiservers/docker/**
!apiservers/docker/swagger.yml
!apiservers/docker/restapi/configure_docker.go
!apiservers/docker/restapi/handlers/*

apiservers/portlayer/**
!apiservers/portlayer/swagger.yml
!apiservers/portlayer/restapi/configure_port_layer.go
