.vagrant/
.cover/
binary/
vic_binaries*.tar.gz
secrets.yml
bin/

# generally a bad idea to check certificates into repos - whitelist if needed
**/*.pem

bootstrap/targets/linux/tether/
imagec/imagec

tests/helpers/bats-assert
tests/helpers/bats-support

apiservers/docker/cmd
apiservers/docker/models
apiservers/docker/restapi/*.go
apiservers/docker/restapi/operations
!apiservers/docker/restapi/configure_docker.go

apiservers/portlayer/client/
apiservers/portlayer/cmd
apiservers/portlayer/models
apiservers/portlayer/restapi/*.go
apiservers/portlayer/restapi/operations
!apiservers/portlayer/restapi/configure_port_layer.go
govet

tests/docker-tests/integration-tests
