<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <display-name>vic-ui</display-name>

<!-- IMPORTANT: Uncomment this if you are using remote java services.
      - Your web application context needs to be OSGI-enabled for looking up services.

   <servlet>
      <servlet-name>springServlet</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/spring/bundle-context.xml</param-value>
      </init-param>

      <init-param>
         <param-name>contextClass</param-name>
         <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
      </init-param>

      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>springServlet</servlet-name>
      <url-pattern>/messagebroker/*</url-pattern>
   </servlet-mapping>
-->

</web-app>