[Unit]
Description=Network customization based on user provided parameter
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/etc/vmware/network-config.sh

[Install]
WantedBy=systemd-networkd.service
