[Unit]
Description=Tether
After=network-online.target

[Service]
Type=idle
ExecStart=/bin/bootstrap >/dev/ttyS1 2>&1

[Install]
WantedBy=multi-user.target
Wants=network-online.target