[Unit]
Description=VIC Engine Install Wizard Service
Documentation=https://github.com/vmware/vic
After=engine_installer_startup.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/etc/vmware/engine_installer/start_engine_installer.sh

[Install]
WantedBy=multi-user.target
