[Unit]
Description=Admiral is a highly scalable and very lightweight Container Management platform for deploying and managing container based applications.
Documentation=https://github.com/vmware/admiral
After=docker.service systemd-networkd.service systemd-resolved.service systemd-timesyncd.service vmtoolsd.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/etc/vmware/admiral/start_admiral.sh
ExecStop=/usr/bin/docker stop vic-admiral
ExecStopPost=/usr/bin/docker rm vic-admiral

[Install]
WantedBy=multi-user.target
