[Unit]
Description=Admiral is a highly scalable and very lightweight Container Management platform for deploying and managing container based applications.
Documentation=https://github.com/vmware/admiral
After=docker.service systemd-networkd.service systemd-resolved.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStartPre=-/usr/local/bin/docker rm vic-admiral
ExecStart=/usr/bin/bash /etc/vmware/admiral/start_admiral.sh
ExecStop=/usr/local/bin/docker stop vic-admiral

[Install]
WantedBy=multi-user.target
