[Unit]
Description=Admiral Startup Configuration
Documentation=http://github.com/vmware/admiral
After=docker.service data.mount systemd-networkd.service systemd-resolved.service
Before=admiral.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /etc/vmware/admiral/configure_admiral.sh

[Install]
WantedBy=multi-user.target
