[Unit]
Description=Data Directory
Before=umount.target
Wants=repartition.service resizefs.service
After=repartition.service resizefs.service

[Mount]
What=/dev/disk/by-path/pci-0000:00:10.0-scsi-0:0:1:0-part1
Where=/data
Type=ext4

[Install]
RequiredBy=local-fs.target