[Unit]
Description=Init process for VIC components
After=network-online.target

[Service]
Type=idle
ExecStart=/sbin/vch-debug

[Install]
WantedBy=multi-user.target
Wants=network-online.target