[Unit]
Description=Init process for VIC components
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
# This is not configured for restart as currently vic-init isn't able to
# reacquire knowledge about whether sessions are running.
# Instead there is a top level trigger to restart the VM - reverting to
# known good VM state
ExecStart=/sbin/vic-init

[Install]
WantedBy=vic.target
