[Unit]
Description=permit root login by ssh based on user provided parameter
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/etc/vmware/sshd_permitrootlogin.sh

[Install]
WantedBy=vic-appliance.target
