<?xml version="1.0" encoding="UTF-8"?>
<!--
   vic plugin metadata.
   The <plugin> tag doesn't contain any moduleUri property because it is an HTML plugin.
-->
<plugin id="com.vmware.vic.ui" defaultBundle="com_vmware_vic">
    <resources>
        <resource locale="{locale}">
            <module uri="locales/vic-{locale}.swf"/>
        </resource>
    </resources>
    <dependencies>
        <!-- Allow HTML Client to display plugin icons in menus, shortcuts, object lists -->
        <dependency type="css" uri="vic/assets/css/plugin-icons.css" />
    </dependencies>
    <templateInstance id="com.vmware.vic.objectView.lists.allDashboards">
        <templateId>vsphere.core.inventorylist.objectCollectionTemplate</templateId>
        <variable name="namespace" value="com.vmware.vic.objectView_collection"/>
        <variable name="title" value="vSphere Integrated Containers"/>
        <variable name="icon" value="#{viinventory.vic.icon}"/>
        <variable name="objectType" value="vic:Root"/>
        <variable name="listViewId" value="com.vmware.vic.objectView.list"/>
        <variable name="parentUid" value="vsphere.core.navigator.viInventoryLists"/>
    </templateInstance>
    <templateInstance id="com.vmware.vic.viewTemplateInstance">
        <templateId>vsphere.core.inventory.objectViewTemplate</templateId>
        <variable name="namespace" value="com.vmware.vic.objectView"/>
        <variable name="objectType" value="vic:Root"/>
        <excludedExtension>com.vmware.vic.objectView.related</excludedExtension>
    </templateInstance>
    <extension id="com.vmware.vic.objectView.lists.rootColumns">
        <extendedPoint>com.vmware.vic.objectView.list.columns</extendedPoint>
        <object>
            <items>
                <com.vmware.ui.lists.ColumnContainer>
                    <uid>com.vmware.vic.objectView.column.name</uid>
                    <dataInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.name}</headerText>
                            <requestedProperties>
                                <String>name</String>
                            </requestedProperties>
                            <sortProperty>name</sortProperty>
                            <exportProperty>name</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.vchVmsLen}</headerText>
                            <requestedProperties>
                                <String>vchVmsLen</String>
                            </requestedProperties>
                            <sortProperty>vchVmsLen</sortProperty>
                            <exportProperty>vchVmsLen</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.containerVmsLen}</headerText>
                            <requestedProperties>
                                <String>containerVmsLen</String>
                            </requestedProperties>
                            <sortProperty>containerVmsLen</sortProperty>
                            <exportProperty>containerVmsLen</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                    </dataInfo>
                </com.vmware.ui.lists.ColumnContainer>
            </items>
        </object>
    </extension>
    <extension id="com.vmware.samples.chassisa.iconLabelSpecCollection">
        <extendedPoint>vise.inventory.representationspecs</extendedPoint>
        <object>
            <objectType>vic:Root</objectType>
            <specCollection>
                <com.vmware.ui.objectrepresentation.model.IconLabelSpec>
                    <iconId>#{vic-root-icon}</iconId>
                </com.vmware.ui.objectrepresentation.model.IconLabelSpec>
            </specCollection>
        </object>
    </extension>
    <extension id="com.vmware.vic.objectView.summaryView">
        <extendedPoint>com.vmware.vic.objectView.summaryViews</extendedPoint>
        <object>
            <name>#{vic_workspace.summary.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=summary-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>
    <extension id="com.vmware.vic.homeShortcut">
        <extendedPoint>vise.home.shortcuts</extendedPoint>
        <object>
            <name>vSphere Integrated Containers</name>
            <categoryUid>vsphere.core.controlcenter.inventoriesCategory</categoryUid>
            <icon>#{home.shortcut.icon}</icon>
            <targetViewUid>com.vmware.vic.objectView_collection.domainView</targetViewUid>
        </object>
    </extension>
    <extension id="com.vmware.vic.containerSummaryView">
        <extendedPoint>vsphere.core.vm.summarySectionViews.html</extendedPoint>
        <object>
            <name>#{container.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=portlet</url>
                    </root>
                </object>
            </componentClass>
        </object>
        <metadata>
            <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isContainer</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
        </metadata>
    </extension>
    <extension id="com.vmware.vic.vchSummaryView">
        <extendedPoint>vsphere.core.vm.summarySectionViews.html</extendedPoint>
        <object>
            <name>#{vch.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=portlet</url>
                    </root>
                </object>
            </componentClass>
        </object>
        <metadata>
            <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isVCH</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
        </metadata>
    </extension>
    <!-- Tab specs definition for VCH view -->
    <extension id="com.vmware.vic.customtab-vch">
        <extendedPoint>com.vmware.vic.objectView.views</extendedPoint>
        <precedingExtension>com.vmware.vic.vchSummaryView</precedingExtension>
        <object>
            <name>#{vic_workspace.vch.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=vch-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>
    <!-- Tab specs definition for Container view -->
    <extension id="com.vmware.vic.customtab-container">
        <extendedPoint>com.vmware.vic.objectView.views</extendedPoint>
        <precedingExtension>com.vmware.vic.customVchView</precedingExtension>
        <object>
            <name>#{vic_workspace.container.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=container-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>
</plugin>