<clr-datagrid (clrDgRefresh)="refreshGrid($event)" [clrDgLoading]="isDgLoading">
  <clr-dg-action-bar *ngIf="isVsphereAdmin">
    <button class="btn btn-link btn-sm" (click)="launchCreateVchWizard()">
      <clr-icon shape="add"></clr-icon> New Virtual Container Host
    </button>
  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="'name'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'NAME')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'overallStatus'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'OVERALL_STATUS')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'vchIp'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'DOCKER_API_ENDPOINT')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'vchIp'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'VCH_ADMIN_PORTAL')}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let item of vchs">
    <clr-dg-cell>
      <a href="#" (click)="navigateToObject(item.id)">
        <clr-icon shape="vmw-app"></clr-icon>&nbsp; {{item.name}}
      </a>
    </clr-dg-cell>
    <clr-dg-cell [ngSwitch]="item.overallStatus">
      <clr-icon shape="success" [style.color]="'#1D5100'" *ngSwitchCase="'GREEN'"></clr-icon>
      <clr-icon shape="warning" [style.color]="'#EB8D00'" *ngSwitchCase="'YELLOW'"></clr-icon>
      <clr-icon shape="error" [style.color]="'#A32100'" *ngSwitchCase="'RED'"></clr-icon>
      <span *ngSwitchDefault>{{item.overallStatus}}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span>{{getDockerEndpointString(item)}}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span><a href="https://{{item.vchIp}}:2378" target="_blank">https://{{item.vchIp}}:2378</a></span>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{vchs.length}} VCHs
    <clr-dg-pagination [clrDgPageSize]="maxResultCount" #pagination [clrDgTotalItems]="vchs.length">
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
